geographiclib==2.0
geonamescache==2.0.0
geopy==2.4.1
jmespath==1.0.1
pycountry==24.6.1
pyswisseph==2.10.3.2
python-dateutil==2.9.0.post0
six==1.17.0
swisseph==0.0.0.dev1
urllib3==2.0.7
wrapt==1.17.2
pytz==2025.2
boto3==1.39.4
botocore==1.39.4
